root {
    --color-azulosc: #161A1D;  
    --color-rojoosc: #660708; 
    --color-rojoclaro:  #BA181B;  
    --color-gris: #B1A7A6;     
    --color-grisclaro: #B1A7A6;  
    --color-neutro: #F5F3F4;  
  }

  .prices-button{
    margin-bottom: 70px;
    padding: 20px;
   

  }

.article {
  height: 60px;
  color: var(--color-rojoclaro);
  font-size: 1.5rem;
  }
  
  #prices-display {
    align-items: center;
    justify-items: center;
  }

  /* -- MODALS POPUS EN STOCK MARKET PRICES --*/

  .modal {
    padding: 1em;
    max-width: 50ch;
    font-size: 1rem;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
    background-color: var(--color-neutro);
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el modal en la pantalla */
    z-index: 1000; /* Asegura que el modal está sobre otros elementos */
    border-radius: 8px; 
    margin: 0 auto;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Agrega un desenfoque al fondo */
}

.info-button {
    margin-top: 100px;
}



/* Images Filter */



#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

#imageContainer img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

#imageContainer img:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}



@media only screen and (min-width: 800px) {

main {
justify-content: center;
font-size: 2.2rem;
text-align: center;
}


.modal {
    padding: 1em;
    max-width: 700px;
    font-size: 1.8rem;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
    background-color: var(--color-neutro);
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el modal en la pantalla */
    z-index: 1000; /* Asegura que el modal está sobre otros elementos */
    border-radius: 8px; 
    margin: 0 auto;
    
}

}
