@media only screen and (min-width: 500px) {

  header {
    font-size: 2rem;
    width: 100%;
    margin: 0;
   
  
  }


  .name-image {
    display: flex;
    align-items: center;
    justify-content: left;
    
   
  
  
}
nav.nav&menu open {
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-items: end;
    }
button#menu {
    display: none;
}

ul.menu-links, ul.menu-links.open {
    display: flex;
    justify-content: center;
    column-gap: 80px;
}


.menu-links {
    display: flex;
    flex-direction: row;
    
    
  }
ul.menu-links li a {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
  ul.menu-links li a:hover {
    background-color: var(--color-terciario);
    color: black;
    font-size: 2rem;
  }

  .open a {

    gap: 0.5rem;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    
  }


  #dark-button { /*REVISAR ESTE COD DE DARK Y MIRAR JS*/
    content: "🕶️";
    position: absolute;
    top: 6rem;
    right: 1rem;
    
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    margin: 0;
    
    
  }
}

