@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #184e77;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
 
    
}

.name-image {
  display:flex;
  margin: 20px;
  gap:20px;

}

header,
main {
  margin: 0 auto;
  color: white;
  text-align: center;
  align-items: center;
}

header h1 {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 15px;
}

button#menu {
  font-size: 1.7rem;
  border:0;
  color:white;
  background-color: #184e77;
  position:absolute;
  top:1rem;
  right: 1rem;
}

#menu::before {
  content: "☰"
}

#menu.open::before {
  content: "X";
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #36454f;
  color:white;
  margin: 0 auto;
  list-style: none;
  margin: 1rem auto;
  max-width: 70%;
}


nav ul {
  list-style: none;
}

nav a {
  display: none; /*en block me despliega hacia abajo, y está bien para vista dispositivos pequeños*/
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}



nav a:hover {
  color: white;
  background-color: black;
}
  
.open a {
  display: block;
  color:white
}




#menu.show::before {
  content:"X";
  
}

.active {
  color: yellow;
}


#menu.open + nav {
  display: flex;
}

main {
  max-width: 90%;
  margin: 10px; /* Establece los márgenes automáticos para centrar horizontalmente */
  display: block;
  padding: 20px;
  text-align: center;
  align-items: center;

}

.title-cards {
  font-size: 1.7rem;
  color: rgb(241, 188, 41);
  text-align: center;
  background-color: #184e77;
  border-radius: 15px 15px 0 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 15px 15px 0 0;
}
.card-1, .card-2, .card-3 {
  display: block;
  border: 2px solid rgb(162, 158, 158);
  list-style: none;
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
}

.inside-card1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

.card_1 h1 {
  color: black;
  ;
}

.card-1 p {
  color: black;
  text-align: left;
  
  
  padding: 5px;
}

.inside-card-1 p {
  font-size: larger;
  font-size: 1.2rem;

}


.card-1 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  padding-left: 20px;
}

.card-1 ul li {
  padding: 15px;
  font-size: 1.2rem;
  
}

.card-2 {
  
  display: block;
  /*flex-direction: column;*/
  border: 2px solid rgb(162, 158, 158);
  border-radius: 15px 15px 15px 15px;
  margin: 10px;
}

.inside-card-2 img {
  
  max-width: 70%;
  margin: 20px;

}
.inside-card-2 p {
  color: black;
  margin-bottom: 20px;
}

.all-cse-wdd {
  display: flex;
  margin:20px;  
}

button.first{
  display: flex;
  margin:12px;  
  padding: 15px;
  width: 90%;
  font-size: 1.2rem;
  text-align: center;
  background-color: black;
  color: white;

}

button.first p{
 text-align: center;

}

button.first:hover {
  background-color: rgb(241, 188, 41);
  color:rgb(10, 10, 10);
}

button.second{
  display: block;
  margin:10px;  
  margin-bottom: 20px;
  padding: 15px;
  width: 90%;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(114, 36, 36);
  color: white;
  border: none;

}

button.second:hover {
  background-color: rgb(211, 206, 206);
  color:rgb(6, 5, 3);
  border: 1px solid rgb(105, 104, 104);
}

footer {
  display: block;
  background-color: #184e77;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  color: white;
  text-align: center;
  row-gap: 25px;
  font-size: 1.2rem;
}

footer img {
  max-width: 7%;
}
#lastModified {
  padding-top: 10px;
  color: rgb(249, 196, 64);
}

/* Larger Views ******************************/
@media (min-width: 640px) {
  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1 1 100%;
  }
}

